.redirectButtonHome{
    position: absolute;
    color: aliceblue;
    font-family: Nunito_SemiBold;
    font-size: 18px;
    background: transparent;
    border: none;
    cursor: pointer;
}
.cmdTab{
    margin-top: 20px;
    position:relative;
    background: black;
    height:20px;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
    border: 2px solid black;
    width:60vw;
    color:white;
    font-size: 14px;
}
.buttonCmdPrompContainer{
    position: absolute;
    background: white;
    width:5vw;
    height:5vh;

}
.parentContainer{
    position: relative;
    z-index: 0;
    height:100vh;
}
.redirectButtonHome:hover{
    color: dimgrey;
    z-index: 1;
}
.styleAboutMe{
    font-family: Nunito_SemiBold;
    font-size: 30px;
    color:aliceblue;
}

.containerMain{
    top:30%;
    display:flex;
    flex-direction: column;
    position:relative;
    align-items: center;
    justify-content: center;
    z-index: -1;

}

.textBox{
    position:relative;
    background:#1a1a1a;
    width: 60.2vw;
}

.textInTextBox{
    font-family: Consolas;
    font-size: 15px;
    color:aliceblue;
    padding-bottom: 15vh;
}